.ncLoading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin: 15px 0;
    width: 100%;
    @keyframes loadingSpinner {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @-webkit-keyframes loadingSpinner {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .loadingSpinner div {
        left: 97px;
        top: 50px;
        position: absolute;
        -webkit-animation: loadingSpinner linear 0.8s infinite;
        animation: loadingSpinner linear 0.8s infinite;
        background: #666666;
        width: 6px;
        height: 32px;
        border-radius: 28%;
        -webkit-transform-origin: 3px 50px;
        transform-origin: 3px 50px;
    }

    .loadingSpinner div:nth-child(1) {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-animation-delay: -0.742857142857143s;
        animation-delay: -0.742857142857143s;
    }

    .loadingSpinner div:nth-child(2) {
        -webkit-transform: rotate(25.714285714285715deg);
        transform: rotate(25.714285714285715deg);
        -webkit-animation-delay: -0.685714285714286s;
        animation-delay: -0.685714285714286s;
    }

    .loadingSpinner div:nth-child(3) {
        -webkit-transform: rotate(51.42857142857143deg);
        transform: rotate(51.42857142857143deg);
        -webkit-animation-delay: -0.628571428571429s;
        animation-delay: -0.628571428571429s;
    }

    .loadingSpinner div:nth-child(4) {
        -webkit-transform: rotate(77.14285714285714deg);
        transform: rotate(77.14285714285714deg);
        -webkit-animation-delay: -0.571428571428571s;
        animation-delay: -0.571428571428571s;
    }

    .loadingSpinner div:nth-child(5) {
        -webkit-transform: rotate(102.85714285714286deg);
        transform: rotate(102.85714285714286deg);
        -webkit-animation-delay: -0.514285714285714s;
        animation-delay: -0.514285714285714s;
    }

    .loadingSpinner div:nth-child(6) {
        -webkit-transform: rotate(128.57142857142858deg);
        transform: rotate(128.57142857142858deg);
        -webkit-animation-delay: -0.457142857142857s;
        animation-delay: -0.457142857142857s;
    }

    .loadingSpinner div:nth-child(7) {
        -webkit-transform: rotate(154.28571428571428deg);
        transform: rotate(154.28571428571428deg);
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }

    .loadingSpinner div:nth-child(8) {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-animation-delay: -0.342857142857143s;
        animation-delay: -0.342857142857143s;
    }

    .loadingSpinner div:nth-child(9) {
        -webkit-transform: rotate(205.71428571428572deg);
        transform: rotate(205.71428571428572deg);
        -webkit-animation-delay: -0.285714285714286s;
        animation-delay: -0.285714285714286s;
    }

    .loadingSpinner div:nth-child(10) {
        -webkit-transform: rotate(231.42857142857142deg);
        transform: rotate(231.42857142857142deg);
        -webkit-animation-delay: -0.228571428571429s;
        animation-delay: -0.228571428571429s;
    }

    .loadingSpinner div:nth-child(11) {
        -webkit-transform: rotate(257.14285714285717deg);
        transform: rotate(257.14285714285717deg);
        -webkit-animation-delay: -0.171428571428571s;
        animation-delay: -0.171428571428571s;
    }

    .loadingSpinner div:nth-child(12) {
        -webkit-transform: rotate(282.85714285714283deg);
        transform: rotate(282.85714285714283deg);
        -webkit-animation-delay: -0.114285714285714s;
        animation-delay: -0.114285714285714s;
    }

    .loadingSpinner div:nth-child(13) {
        -webkit-transform: rotate(308.57142857142856deg);
        transform: rotate(308.57142857142856deg);
        -webkit-animation-delay: -0.057142857142857s;
        animation-delay: -0.057142857142857s;
    }

    .loadingSpinner div:nth-child(14) {
        -webkit-transform: rotate(334.2857142857143deg);
        transform: rotate(334.2857142857143deg);
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    
    .loadingSpinner {
        width: 36px;
        height: 36px;
        position: relative;
        -webkit-transform: translate(-18px, -18px) scale(0.18) translate(18px, 18px);
        transform: translate(-18px, -18px) scale(0.18) translate(18px, 18px);
    }
}